<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title><%= title %> | Neurafrik Solutions</title>
<script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" rel="stylesheet"/>
<link href="/styles.css?v=1.1" rel="stylesheet"/>
<link rel="icon" type="image/png" href="/assets/images/logo.png">
<script id="tailwind-config">
tailwind.config = {
  darkMode: "class",
  theme: {
    extend: {
      colors: {
        primary: "#00eeff",
        "accent-purple": "#bc00ff",
        "background-light": "#f5f8f8",
        "background-dark": "#050a0a",
      },
      fontFamily: {
        display: ["Inter", "sans-serif"]
      },
    },
  },
}
</script>
